<div class="h-100">
  <div class="head-title">
    <div class="left">
      <h1>Receitas</h1>
      <ul class="breadcrumb">
        <li>
          <a>Receitas</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
  <div style="height: 740px;">
    <div class="box-info-detail">
      <div class="col-md-12 col-xs-12">
        <form id="form-extrato-geral" [formGroup]="formFilterReceitas">
          <div class="col-md-12 col-xs-12" >
            <div class="row">
              <div class="col-md-4">
                <mat-form-field id="descricao" class="full-width-field">
                  <mat-label>Descrição</mat-label>
                  <input matInput   [formControl]="formFilterReceitas.controls['descricao']"
                         formControlName="descricao">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="full-width-field">
                  <mat-label>Período</mat-label>
                  <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
                    <input matStartDate placeholder="Início"
                           formControlName="dataInicial">
                    <input matEndDate
                           formControlName="dataFinal" placeholder="Fim">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field id="plano" class="full-width-field">
                  <mat-label>Plano</mat-label>
                  <mat-select formControlName="planoId">
                    <mat-option *ngFor="let plano of listPlanoContas" value="{{ plano.id }}">
                      {{ plano['descricao'] }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <button type="button" class="btn btn-success gap-button" (click)="getReceitas(formFilterReceitas.value )">
                  Pesquisar
                </button>
                <button type="button" class="btn btn-primary" (click)="limpar()">
                  Limpar
                </button>
              </div>
              <div class="col text-end ms-5">
                <button type="button" class="btn btn-secondary" (click)="openDialog()">
                  Novo
                </button>
              </div>
            </div>
          </div>
        </form>

        <div class="col-md-12 mt-3" id="tableDespesas">
          <ngx-datatable
            #myTable
            class="material bootstrap"
            [rows]="datatablePagination.rowData"
            [groupRowsBy]="'dataRecebimento'"
            [groupExpansionDefault]="true"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="36"
            [limit]="tableLimit"
            [externalPaging]="true"
            [offset]="datatablePagination.currentPage"
            [count]="datatablePagination.totalElements"
            [messages]="{emptyMessage: 'Sem dados...'}">
            <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
              <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                <div class="p-2">
                  <div class="row">
                    <div class="col-md-10">
                      <span class="fw-bold">{{formatarDataExtenso(group.value[0].dataRecebimento)}}</span>
                    </div>
                    <!--<div class="col-md-2 text-right">
                      <span class="font-weight-bold">Saldo do dia: </span>
                      <span class="font-weight-bold">{{ sumValor(group) | currency:'BRL':'symbol':'0.2-2':'pt' }}</span>
                    </div>-->
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-group-header>
            <ngx-datatable-column name="Receita" prop="descricao" [width]="100" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="text-right">
                  {{ row.descricao }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Plano" prop="planoContas" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="text-right">
                  {{ row.planoContas.id }} - {{row.planoContas.descricao}}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Recebido" prop="recebido" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="text-right">
                  {{ formatarSimNao(row.recebido) }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Recebimento" prop="dataRecebimento" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="text-right">
                  {{ formatarData(row.dataRecebimento) }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Valor" prop="valor" [width]="40" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="text-left">
                  {{ formatarDecimal(row.valor) }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                           let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                <div>
                  <div class="page-count">
                    Total de Registros: {{rowCount}}
                  </div>
                </div>
                <datatable-pager #tablePager
                                 [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                                 [pagerRightArrowIcon]="'fa fa-angle-double-right '" [pagerPreviousIcon]="'fa fa-angle-left'"
                                 [pagerNextIcon]="'fa fa-angle-right '" [page]="curPage" [size]="pageSize" [count]="rowCount"
                                 [hidden]="!((rowCount / pageSize) > 1)"
                                 (change)="getReceitas(null, $event.page-1)">
                </datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>

</div>
