<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <div class="side-bar-top brand pt-3 ps-2">
    <i class='bx bi-graph-up-arrow' ></i>
    <span class="text">SGFly</span>
  </div>
  <div class="side-nav-size pt-1">
    <sg-side-navbar></sg-side-navbar>
  </div>
  <div class="side-menu">
    <li>
      <a class="logout" routerLink="" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> <span>Sair</span>
      </a>
    </li>
  </div>
</section>
<section id="content">
  <nav class="col-md-12">
    <div class="col-md-10">
      <mat-icon (click)="addToggle()">view_headline</mat-icon>
    </div>
  </nav>
  <main class="vh-100 col">
    <ez-header></ez-header>
    <router-outlet></router-outlet>
  </main>
</section>
