<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formPlanoContas" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="descricao">Plano</label>
      <input id="descricao"  type="text" class="form-control"
             [formControl]="formPlanoContas.controls['descricao']"
             formControlName="descricao" required>
    </div>

    <div class="form-check mb-3">
      <input id="padrao" class="form-check-input" type="checkbox"
             [formControl]="formPlanoContas.controls['padrao']"
             formControlName="padrao" >
      <label class="form-check-label" for="padrao">Padrão</label>
    </div>

    <div class="form-group mb-3 col-md-6">
      <label for="periodicidade">Periodicidade</label>
      <select id="periodicidade" class="form-control"
              [formControl]="formPlanoContas.controls['periodicidade']"
              formControlName="periodicidade">
        <option *ngFor="let periodicidade of listPeriodicidade" value="{{ periodicidade }}">
          {{ periodicidade }}
        </option>
      </select>
    </div>

    <div class="form-group mb-3 col-md-8">
      <div class="col-md-6">
        <label for="dataInicial">Data Inicial</label>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" name="dataInicio" id="dataInicio">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label for="dataFim">Data Final</label>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" name="dataFim" id="dataFim">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div>
      <input type="submit" class="btn btn-primary mt-4 gap-button" value="Salvar">
      <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
    </div>
  </form>
</div>

