<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formDespesas">
    <div class="form-group col-md-1">
      <mat-form-field class="campoDescricao">
        <mat-label>Descrição</mat-label>
        <input id="descricao" matInput
               formControlName="descricao">
        <mat-error *ngIf="formDespesas.controls['descricao'].touched && formDespesas.controls['descricao'].invalid">
          <span *ngIf="formDespesas.controls['descricao'].errors.required">Descrição é obrigatório.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group col-md-1">
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input id="valor" matInput formControlName="valor">
        <mat-error *ngIf="formDespesas.controls['valor'].touched && formDespesas.controls['valor'].invalid">
          <span *ngIf="formDespesas.controls['valor'].errors.required">Valor é obrigatório.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group col-md-12 row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Data Vencimento</mat-label>
          <input id="dataVencimento" matInput [matDatepicker]="picker1"
                 formControlName="dataVencimento">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
          <mat-error *ngIf="formDespesas.controls['dataVencimento'].touched && formDespesas.controls['dataVencimento'].invalid">
            <span *ngIf="formDespesas.controls['dataVencimento'].errors.required">Data de Vencimento é obrigatório.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-14 row" *ngIf="isAdicionar">
      <div class="form-group col-md-5">
        <mat-form-field id="plano" class="campoPlanoCategoria">
          <mat-label>Plano</mat-label>
          <mat-select formControlName="planoContas">
            <mat-option *ngFor="let plano of listPlanoContas" value="{{ plano.id }}">
              {{ plano['descricao'] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formDespesas.controls['planoContas'].touched && formDespesas.controls['planoContas'].invalid" && isAdicionar>
            <span *ngIf="formDespesas.controls['planoContas'].errors.required">Plano de contas é obrigatório.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-md-5">
        <mat-form-field id="categoria" class="campoPlanoCategoria">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria">
            <mat-option *ngFor="let categoria of listCategoria" value="{{ categoria }}">
              {{ categoria }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-1">
      <mat-form-field class="campoText">
        <mat-label>Observação</mat-label>
        <textarea matInput
                  formControlName="observacao"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <div class="ps-3">
    <button class="btn btn-success mt-4 gap-button" (click)="onSubmit()">Salvar</button>
    <button class="btn btn-primary mt-4 ml-2" (click)="cancel()">Cancelar</button>
  </div>
</div>
