<div>
  <div>
    <form [formGroup]="formDashboard">
      <mat-form-field id="plano" class="campoPlanoCategoria">
        <mat-label>Plano</mat-label>
        <mat-select name="plano" formControlName="planoContas">
          <mat-option *ngFor="let plano of listPlanoContas" [value]="plano">
            {{ plano['descricao'] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <ul class="box-info">
    <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
          <h3>{{sumReceitas | currency:'BRL':'symbol':'0.2-2':'pt'}}</h3>
          <p>Receita</p>
        </span>
    </li>
    <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
          <h3>{{sumDespesas | currency:'BRL':'symbol':'0.2-2':'pt'}}</h3>
          <p>Despesa</p>
        </span>
    </li>
    <li>
      <i class='bx bxs-dollar-circle' ></i>
      <span class="text">
          <h3>{{sumReceitas - sumDespesas | currency:'BRL':'symbol':'0.2-2':'pt'}}</h3>
          <p>Saldo</p>
        </span>
    </li>
  </ul>
  <div class="table-data">
    <div class="todo">
      <ngx-charts-bar-vertical-2d
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-vertical-2d>
    </div>
    <!--<div class="order">
      <div class="head">
        <h3>Despesas recentes</h3>
        <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <table>
        <thead>
        <tr>
          <th>Dia</th>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <p>John Doe</p>
          </td>
          <td>01-10-2023</td>
          <td><span class="status completed">Completed</span></td>
        </tr>
        <tr>
          <td>
            <p>John Doe</p>
          </td>
          <td>01-10-2023</td>
          <td><span class="status pending">Pending</span></td>
        </tr>
        <tr>
          <td>
            <p>John Doe</p>
          </td>
          <td>01-10-2023</td>
          <td><span class="status process">Process</span></td>
        </tr>
        <tr>
          <td>
            <p>John Doe</p>
          </td>
          <td>01-10-2023</td>
          <td><span class="status pending">Pending</span></td>
        </tr>
        <tr>
          <td>
            <p>John Doe</p>
          </td>
          <td>01-10-2023</td>
          <td><span class="status completed">Completed</span></td>
        </tr>
        </tbody>
      </table>
    </div>-->

  </div>
</div>
