.head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 14px;
  flex-wrap: wrap;
}

.head-title .left h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.head-title .left .breadcrumb li {
  color: var(--dark);
}

.head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

.head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}
